/* footer
--------------------------------------------- */
@import "footer/footer";
@import "header/header";

.has-light-green-cyan-to-vivid-green-cyan-gradient-background {
  width: 100%;
}

.has-small-font-size {
  font-size: 1.5em !important;
}

.wp-block-cover__inner-container {
  text-align: center;
  p {
    text-align: center;
  }
}

.wp-block-post-title {
  a:hover {
    color: $color__text-screen;
  }
}
.wp-block-post-excerpt__more-link {
  &:hover {
    color: $color__text-screen;
  }
}
.has-cool-to-warm-spectrum-gradient-background {
  width: 100%;
  margin-bottom: 1.5em;
}

.has-pale-ocean-gradient-background {
  width: 100%;
}

div[class*="wp-container-"] {
  justify-content: center;
  align-items: center;

  ul > li {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  }
}

.wp-block-group__inner-container > ul > li {
  box-shadow: none !important;
}

.wp-image-147 {
  width: 400px;
}

.entry-content .wp-block-cover__inner-container div {
  width: auto;
}

.wp-block-buttons {
  padding: 16px;
}
