$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #138143;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #2070ae;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #2070ae;
$color__link-visited: #800080;
$color__link-hover: #2070ae;
$color__text-main: #000;
$color__text-white: #fff;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__headings-primary: #138143;


$color__footer: #148143;
$color__interactive: #138143; // Links, highlights, etc.

$color__error: #d54e21;