$size__site-main: 100%;
$size__site-sidebar: 25%;
$breakpoint__md:900px;
$query__md: 800px;
$logo__height: 150px;

// size__max-width defines the total max width the content can be displayed with at any time.
$size__max-width: 1080px;

$size__ratio-small: 30%;
$size__ratio-large: 60%;

$query__small: 600px;
$query__medium: 900px;