@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");

// stylelint-disable value-keyword-case
$font__main: "Dongle", sans-serif;
// stylelint-enable value-keyword-case
$font__code: "Dongle", sans-serif;
$font__pre: "Dongle", sans-serif;

$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font-size-base: 25px;
$font-title: 65px;
$color__text:black;
$font__sans:"Dongle", sans-serif;