.main-navigation {
  display: block;
  float: right;
  padding: 8px;
  @media screen and (max-width: 480px) {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    padding: 8px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: none;
    padding: 8px;
    height: 70px;

    ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      display: none;
      background-color: #fff;
      overflow: hidden;
      z-index: 99999;

      li {
        &:hover > ul,
        &.focus > ul {
        }
      }

      a {
        color: $color__link;
        overflow: hidden;
      }

      :hover > a,
      .focus > a {
        color: color__text-screen;
      }

      a:hover,
      a.focus {
        color: $color__text-screen;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
      display: flex;
      flex-direction: column;
    }
  }

  li {
    display: block;
    @media screen and (min-width: 480px) {
    }

    padding: 8px;

    &:hover > a,
    &.focus > a {
      color: $color__text-screen;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
  }

  .current_page_item > a,
  .current-menu-item > a,
  .current_page_ancestor > a,
  .current-menu-ancestor > a {
  }
}

.menu-main-menu-container > ul > li > a {
  color: $color__link;

  &:hover,
  &:focus {
    color: $color__text-screen;
  }
}

/* Small menu. */

.menu-toggle,
.main-navigation.toggled ul {
  display: flex;
  flex-direction: column;
}

.menu-main-menu-container {
  ul {
    li {
      z-index: 99999;
      background-color: #fff;
    }
    .sub-menu {
      display: none;
    }

    &:focus {
      .sub-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 100%;
      }
    }
  }
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: flex;
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
  }
  .nav-links {
    display: flex;
  }
  .nav-previous {
    flex: 1 0 50%;
  }
  .nav-next {
    text-align: end;
    flex: 1 0 50%;
  }
}
